#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$gAuCdq8n$RIbG5NNsegXARVXcpfQ/y1
# Use network installation
url --url="http://dc.alv.pub/centos7"   #设置系统镜像地址
# System language
lang en_US
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512 --enableldap --enableldapauth --ldapserver=ldap://natasha.alv.pub --ldapbasedn=dc=alv,dc=pub #设置用户验证方式，这里我们添加了ldap，不过没起作用，原因目前未知，不过后面我们有再次用脚本加入ldap。
# Use graphical install
graphical
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx

# Network information
#network  --bootproto=dhcp --device=eth0  #设置网络为dhcp，这里我虽然我们写了eth0，但实际上并不会起作用。
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --location=mbr  #为磁盘设置mbr引导。
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel   #清理分区表。
# Disk partitioning information
part /boot --fstype="ext4" --size=500   #创建/boot分区，给500MB
part swap --fstype="swap" --size=1024 #创建swap分区，给1024MB
part pv.01 --size=1 --grow #创建py(物理卷)
volgroup vg_root pv.01 #创建vg(卷组)
logvol / --vgname=vg_root --size=1 --name=lv_root --grow #剩余的空间都给/分区。
#part / --fstype="ext4" --grow --size=1

%post
python -c "$(curl -fsSL https://raw.githubusercontent.com/AlvinWanCN/TechnologyCenter/master/sophiroth_cluster/pxe_system/scripts/set_hostname.py)" #根据ip修改主机名
python -c "$(curl -fsSL https://raw.githubusercontent.com/AlvinWanCN/TechnologyCenter/master/sophiroth_cluster/pxe_system/scripts/getAnsibleSSHKey.py)" #添加ansible主机ssh public key.
bash -c "$(curl -fsSL https://raw.githubusercontent.com/AlvinWanCN/scripts/master/common_tools/disableSeAndFir.sh)" #自定义脚本的方式关闭防火墙
python -c "$(curl -fsSL https://raw.githubusercontent.com/AlvinWanCN/scripts/master/common_tools/pullLocalYum.py)" #添加本地yum仓库
python -c "$(curl -fsSL https://raw.githubusercontent.com/AlvinWanCN/scripts/master/common_tools/joinNatashaLDAP.py)" #加入到我的ldap
sed -i 's/%wheel.*/%wheel  ALL=(ALL) NOPASSWD:  ALL/' /etc/sudoers #设置wheel组nopasswd，便于ansible的操作。
grep /sophiroth/alvin/scripts/welcome.py /etc/profile || echo "/sophiroth/alvin/scripts/welcome.py" >> /etc/profile # 添加登录时执行的脚本。脚本网络地址：https://github.com/AlvinWanCN/scripts/raw/master/python/sophiroth.welcome.py
echo "0 */2 * * * ntpdate alv.pub" >> /var/spool/cron/root

%end

%packages
@base

%end
